@import "/app/variables";
@import "/app/vwvh";

$divceWidth: $QuadHDMax;

/* GNB */
nav#gnb {
    position: fixed;
    z-index: 11;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    ul {
        li {
            line-height: 0;
            transform: translateX(100%);
            transition: 0.3s ease transform;
            & + li {
                margin-top: get-vw(16px,$divceWidth);
            }
            a {
                display: block;
                padding: get-vw(12px,$divceWidth) get-vw(24px,$divceWidth) get-vw(11px,$divceWidth) get-vw(24px,$divceWidth);
                border-radius: get-vw(30px,$divceWidth) 0px 0px get-vw(30px,$divceWidth);
                color: white;
                line-height: 1;
                font-family: 'Alkatra';
                background-color: black;
                transform: translateX(get-vw(16px,$divceWidth));
                transition: 0.3s ease all;
                &.active {
                    background-color: white;
                    transform: translateX(0px);
                }
            }
            &.admin a:hover,
            &.admin a.active {
                color: orange;
            }
            &.story a:hover,
            &.story a.active {
                color: purple;
            }
            &.portfolio a:hover,
            &.portfolio a.active {
                color: skyblue;
            }
            &.contact_us a:hover,
            &.contact_us a.active {
                color: gainsboro;
            }
        }
        &.on {
            li {
                transform: translateX(0%);
            }
        }
    }
}


/* 노말 해상도 이하 */
@media screen and (max-width:$FullHDMax) {
    $divceWidth: $FullHDMax;

    /* GNB */
    nav#gnb {
        ul {
            li {
                & + li {
                    margin-top: get-vw(12px,$divceWidth);
                }
                a {
                    padding: get-vw(12px,$divceWidth) get-vw(24px,$divceWidth) get-vw(12px,$divceWidth) get-vw(24px,$divceWidth);
                    border-radius: get-vw(20px,$divceWidth) 0px 0px get-vw(20px,$divceWidth);
                    transform: translateX(get-vw(14px,$divceWidth));
                }
            }
        }
    }
}

/* 테블릿 해상도 이하 */
@media screen and (max-width:$TabletMax) {
    $divceWidth: $TabletMax;

    /* GNB */
    nav#gnb {
        ul {
            li {
                & + li {
                    margin-top: get-vw(16px,$divceWidth);
                }
                a {
                    padding: get-vw(15px,$divceWidth) get-vw(24px,$divceWidth) get-vw(11px,$divceWidth) get-vw(24px,$divceWidth);
                    border-radius: get-vw(30px,$divceWidth) 0px 0px get-vw(30px,$divceWidth);
                    transform: translateX(get-vw(16px,$divceWidth));
                }
            }
        }
    }
}

/* 미디어 쿼리 - 세로모드 */
@media screen and (orientation: portrait) {

    /* 테블릿 해상도 이하 */
    @media screen and (max-width:$TabletMin) {
        $divceWidth: $TabletMin;

        /* GNB */
        nav#gnb {
            ul {
                li {
                    & + li {
                        margin-top: get-vw(12px,$divceWidth);
                    }
                    a {
                        padding: get-vw(11px,$divceWidth) get-vw(24px,$divceWidth) get-vw(9px,$divceWidth) get-vw(18px,$divceWidth);
                        border-radius: get-vw(30px,$divceWidth) 0px 0px get-vw(30px,$divceWidth);
                        transform: translateX(get-vw(14px,$divceWidth));
                    }
                }
            }
        }
    }

    /* 모바일 해상도 이하 */
	@media screen and (max-width:$MobileMin) {
		$divceWidth: $MobileMin;

		/* GNB */
        nav#gnb {
            ul {
                li {
                    & + li {
                        margin-top: get-vw(12px,$divceWidth);
                    }
                    a {
                        padding: get-vw(20px,$divceWidth) get-vw(16px,$divceWidth) get-vw(22px,$divceWidth) get-vw(10px,$divceWidth);
                        border-radius: get-vw(20px,$divceWidth) 0px 0px get-vw(20px,$divceWidth);
                        transform: translateX(get-vw(6px,$divceWidth));
                        writing-mode: vertical-rl;
                        text-orientation: mixed;
                    }
                }
            }
        }
	}
}