@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;

/* Header */
header#header {
    visibility: visible;
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
    h1 {
        position: absolute;
        z-index: 10;
        top: 50%;
        bottom: auto;
        left: 50%;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,1) url(/images/portfolio_header.svg) no-repeat center center;
        background-size: cover;
        transform: translate(-50%,-50%);
    }
    &.on {
        visibility: hidden;
        z-index: 0;
        opacity: 0;
        transition: 0.3s ease-in 1s all;
        h1 {
            height: calc(var(--screen-ratio)*20000%);
            background-color: rgba(0,0,0,0);
            transition: 0.7s cubic-bezier(0.5, 0, 1, 1) 0.3s all;
        }
    }
    p.intro {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }
    .btn_enter {
        position: absolute;
        z-index: 11;
        top: calc(50% + get-vw(120px,$divceWidth));
        left: 0px;
        width: 100%;
        text-align: center;
        button {
            visibility: visible;
            padding: get-vw(15px,$divceWidth) get-vw(20px,$divceWidth) get-vw(16px,$divceWidth);
            font-size: get-vw(32px,$divceWidth);
            font-family: 'Consolas', var(--noto-sans-mono), fangsong, serif;
            letter-spacing: get-vw(-1px,$divceWidth);
            line-height: 1;
            color: white;
            background-color: #333333;
            border-radius: get-vw(16px,$divceWidth);
            opacity: 1;
            &:disabled {
                visibility: hidden;
                opacity: 0;
                transition: 0.1s ease all;
            }
        }
    }
}

/* 세로모드 */
@media screen and (orientation: portrait) {
    /* Header */
    header#header {
        h1 {
            background-image: url(/images/portfolio_header_m.svg);
        }
    }
}

/* Full HD */
@include FullHD {
    $divceWidth: $FullHDMax;

    /* Header */
    header#header {
        .btn_enter {
            top: calc(50% + get-vw(90px,$divceWidth));
            button {
                padding: get-vw(13px,$divceWidth) get-vw(18px,$divceWidth) get-vw(14px,$divceWidth);
                font-size: get-vw(28px,$divceWidth);
                letter-spacing: get-vw(-1px,$divceWidth);
                border-radius: get-vw(14px,$divceWidth);
            }
        }
    }
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

    /* Header */
    header#header {
        .btn_enter {
            top: calc(50% + 9vh);
            button {
                padding: get-vw(15px,$divceWidth) get-vw(20px,$divceWidth) get-vw(16px,$divceWidth);
                font-size: get-vw(30px,$divceWidth);
                border-radius: get-vw(14px,$divceWidth);
            }
        }
    }

    @media screen and (orientation: portrait) {
        $divceHeight: $TabletMax;

        /* Header */
        header#header {
            .btn_enter {
                top: calc(50% + 8vh);
                button {
                    padding: get-vh(15px,$divceHeight) get-vh(18px,$divceHeight) get-vh(16px,$divceHeight);
                    font-size: get-vh(30px,$divceHeight);
                    border-radius: get-vh(14px,$divceHeight);
                }
            }
        }
    }
}

/* Mobile */
@include Mobile {
    $divceWidth: $MobileMax;

    /* Header */
    header#header {
        .btn_enter {
            top: calc(50% + 10vh);
            button {
                padding: get-vw(10px,$divceWidth) get-vw(14px,$divceWidth) get-vw(11px,$divceWidth);
                font-size: get-vw(24px,$divceWidth);
                border-radius: get-vw(12px,$divceWidth);
            }
        }
    }

    @media screen and (orientation: portrait) {
        $divceHeight: $TabletMax;

        /* Header */
        header#header {
            .btn_enter {
                top: calc(50% + 7vh);
                button {
                    padding: get-vh(18px,$divceHeight) get-vh(20px,$divceHeight) get-vh(19px,$divceHeight);
                    font-size: get-vh(36px,$divceHeight);
                    border-radius: get-vh(16px,$divceHeight);
                }
            }
        }
    }
}
