$vh: var(--vh);
@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;

section#about {
    background-color: orange;
    &::-webkit-scrollbar-track {
        background-color: orange;
    }
    h2 {
        background-image: linear-gradient(180deg, rgba(255,165,0,1) 0%, rgba(255,165,0,1) 60%, rgba(255,165,0,0.9) 90%, rgba(255,165,0,0) 100%);
    }
    .about_photo {
        position: fixed;
        top: get-vw(220px,$divceWidth);
        right: get-vw(212px,$divceWidth);
        width: get-vw(420px,$divceWidth);
        background-color: green;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .about_cont {
        & + .about_cont {
            margin-top: get-vw(64px,$divceWidth);
        }
        h3 {
            margin-bottom: get-vw(26px,$divceWidth);
        }
        &.profile {
            ul {
                li {
                    position: relative;
                    padding-left: get-vw(18px,$divceWidth);
                    & + li {
                        margin-top: get-vw(14px,$divceWidth);
                    }
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: get-vw(12px,$divceWidth);
                        left: 0px;
                        width: get-vw(7px,$divceWidth);
                        height: get-vw(7px,$divceWidth);
                        background-color: brown;
                    }
                }
            }
        }
        &.intro {
            p {
                & + p {
                    margin-top: get-vw(24px,$divceWidth);
                }
            }
        }
        &.skill {
            ul {
                li {
                    display: grid;
                    grid-template-columns: get-vw(150px,$divceWidth) get-vw(800px,$divceWidth);
                    align-items: center;
                    gap: 0px get-vw(12px,$divceWidth);
                    & + li {
                        margin-top: get-vw(20px,$divceWidth);
                    }
                    .cateogry {
                        font-weight: 500;
                        position: relative;
                        top: -1px;
                        line-height: 140%;
                    }
                    .gauge {
                        overflow: hidden;
                        .bar {
                            padding: get-vw(7px,$divceWidth) 0px get-vw(9px,$divceWidth);
                            text-indent: get-vw(16px,$divceWidth);
                            color: white;
                            border-radius: 0px get-vw(10px,$divceWidth) get-vw(10px,$divceWidth) 0px;
                            background-color: crimson;
                            transition: 0.3s ease-in width;
                            overflow: hidden;
                            &.react {
                                color: #61DAFB;
                                background-color: rgb(23,23,23);
                            }
                        }
                    }
                }
            }
            &.on {
                ul {
                    li {
                        .gauge {
                            .bar {
                                transition: 0.3s ease-out width;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Full HD */
@include FullHD {
    $divceWidth: $FullHDMax;

    section#about {
        .about_photo {
            top: get-vw(200px,$divceWidth);
            right: get-vw(172px,$divceWidth);
            width: get-vw(360px,$divceWidth);
        }
        .about_cont {
            & + .about_cont {
                margin-top: get-vw(64px,$divceWidth);
            }
            h3 {
                margin-bottom: get-vw(26px,$divceWidth);
            }
            &.profile {
                ul {
                    li {
                        padding-left: get-vw(14px,$divceWidth);
                        & + li {
                            margin-top: get-vw(14px,$divceWidth);
                        }
                        &:before {
                            top: get-vw(10px,$divceWidth);
                            width: get-vw(5px,$divceWidth);
                            height: get-vw(5px,$divceWidth);
                        }
                    }
                }
            }
            &.intro {
                p {
                    transform: translateY(get-vw(20px,$divceWidth));
                    & + p {
                        margin-top: get-vw(20px,$divceWidth);
                    }
                }
            }
            &.skill {
                ul {
                    li {
                        grid-template-columns: get-vw(150px,$divceWidth) get-vw(800px,$divceWidth);
                        gap: 0px 12px;
                        & + li {
                            margin-top: get-vw(20px,$divceWidth);
                        }
                        .gauge {
                            .bar {
                                padding: get-vw(7px,$divceWidth) 0px get-vw(9px,$divceWidth);
                                text-indent: get-vw(16px,$divceWidth);
                                border-radius: 0px get-vw(10px,$divceWidth) get-vw(10px,$divceWidth) 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

    section#about {
        .about_photo {
            position: absolute;
            top: get-vw(210px,$divceWidth);
            right: get-vw(100px,$divceWidth);
            width: get-vw(370px,$divceWidth);
        }
        .about_cont {
            position: static;
            height: auto;
            padding: 0px;
            opacity: 1;
            & + .about_cont {
                margin-top: get-vw(60px,$divceWidth);
            }
            h3 {
                margin-bottom: get-vw(30px,$divceWidth);
            }
            &.profile {
                ul {
                    li {
                        opacity: 1;
                        padding-left: get-vw(16px,$divceWidth);
                        transform: translateY(0px);
                        & + li {
                            margin-top: get-vw(14px,$divceWidth);
                        }
                        &:before {
                            top: get-vw(12px,$divceWidth);
                            width: get-vw(6px,$divceWidth);
                            height: get-vw(6px,$divceWidth);
                        }
                    }
                }
            }
            &.intro {
                p {
                    transform: translateY(0px);
                    opacity: 1;
                    & + p {
                        margin-top: get-vw(20px,$divceWidth);
                    }
                    br {
                        display: none;
                    }
                }
            }
            &.skill {
                ul {
                    li {
                        grid-template-columns: get-vw(120px,$divceWidth) auto;
                        gap: 0px get-vw(12px,$divceWidth);
                        transform: translateY(0px);
                        opacity: 1;
                        & + li {
                            margin-top: get-vw(20px,$divceWidth);
                        }
                        .gauge {
                            .bar {
                                padding: get-vw(7px,$divceWidth) 0px get-vw(10px,$divceWidth);
                                text-indent: get-vw(16px,$divceWidth);
                                border-radius: 0px get-vw(10px,$divceWidth) get-vw(10px,$divceWidth) 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceWidth: $TabletMin;

        section#about {
            .about_photo {
                top: get-vw(210px,$divceWidth);
                right: get-vw(100px,$divceWidth);
                width: get-vw(370px,$divceWidth);
            }
            .about_cont {
                & + .about_cont {
                    margin-top: get-vw(60px,$divceWidth);
                }
                h3 {
                    margin-bottom: get-vw(30px,$divceWidth);
                }
                &.profile {
                    ul {
                        li {
                            opacity: 1;
                            padding-left: get-vw(16px,$divceWidth);
                            transform: translateY(0px);
                            & + li {
                                margin-top: get-vw(14px,$divceWidth);
                            }
                            &:before {
                                top: get-vw(12px,$divceWidth);
                                width: get-vw(6px,$divceWidth);
                                height: get-vw(6px,$divceWidth);
                            }
                        }
                    }
                }
                &.intro {
                    p {
                        transform: translateY(0px);
                        opacity: 1;
                        & + p {
                            margin-top: get-vw(20px,$divceWidth);
                        }
                        br {
                            display: none;
                        }
                    }
                }
                &.skill {
                    ul {
                        li {
                            grid-template-columns: get-vw(120px,$divceWidth) auto;
                            gap: 0px get-vw(12px,$divceWidth);
                            transform: translateY(0px);
                            opacity: 1;
                            & + li {
                                margin-top: get-vw(20px,$divceWidth);
                            }
                            .gauge {
                                .bar {
                                    padding: get-vw(7px,$divceWidth) 0px get-vw(10px,$divceWidth);
                                    text-indent: get-vw(16px,$divceWidth);
                                    border-radius: 0px get-vw(10px,$divceWidth) get-vw(10px,$divceWidth) 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@include Mobile {
    $divceWidth: $MobileMax;

    section#about {
        .about_photo {
            top: get-vw(155px,$divceWidth);
            right: get-vw(50px,$divceWidth);
            width: get-vw(350px,$divceWidth);
        }
        .about_cont {
            position: static;
            height: auto;
            padding: 0px;
            opacity: 1;
            & + .about_cont {
                margin-top: get-vw(60px,$divceWidth);
            }
            h3 {
                margin-bottom: get-vw(30px,$divceWidth);
                transform: translateY(0px);
                opacity: 1;
            }
            &.profile {
                ul {
                    li {
                        opacity: 1;
                        padding-left: get-vw(15px,$divceWidth);
                        transform: translateY(0px);
                        & + li {
                            margin-top: get-vw(14px,$divceWidth);
                        }
                        &:before {
                            top: get-vw(11px,$divceWidth);
                            width: get-vw(6px,$divceWidth);
                            height: get-vw(6px,$divceWidth);
                        }
                    }
                }
            }
            &.intro {
                p {
                    transform: translateY(0px);
                    opacity: 1;
                    & + p {
                        margin-top: get-vw(20px,$divceWidth);
                    }
                    br {
                        display: none;
                    }
                }
            }
            &.skill {
                ul {
                    li {
                        grid-template-columns: get-vw(120px,$divceWidth) auto;
                        gap: 0px get-vw(12px,$divceWidth);
                        transform: translateY(0px);
                        opacity: 1;
                        & + li {
                            margin-top: get-vw(20px,$divceWidth);
                        }
                        .gauge {
                            .bar {
                                padding: get-vw(7px,$divceWidth) 0px get-vw(10px,$divceWidth);
                                text-indent: get-vw(16px,$divceWidth);
                                border-radius: 0px get-vw(10px,$divceWidth) get-vw(10px,$divceWidth) 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceWidth: $MobileMin;
        
        /* About */
        section#about {
            h2 {
                margin-bottom: get-vw(30px,$divceWidth);
            }
            .about_photo {
                position: static;
                width: 100%;
                height: auto;
                margin-bottom: get-vw(40px,$divceWidth);
            }
            .about_cont {
                & + .about_cont {
                    margin-top: get-vw(40px,$divceWidth);
                }
                h3 {
                    margin-bottom: get-vw(20px,$divceWidth);
                }
                &.profile {
                    ul {
                        li {
                            padding-left: get-vw(13px,$divceWidth);
                            & + li {
                                margin-top: get-vw(13px,$divceWidth);
                            }
                            &:before {
                                top: get-vw(10px,$divceWidth);
                                width: get-vw(6px,$divceWidth);
                                height: get-vw(6px,$divceWidth);
                            }
                        }
                    }
                }
                &.intro {
                    p {
                        transform: translateY(0px);
                        & + p {
                            margin-top: get-vw(20px,$divceWidth);
                        }
                    }
                }
                &.skill {
                    ul {
                        li {
                            grid-template-columns: get-vw(96px,$divceWidth) auto;
                            gap: 0px get-vw(8px,$divceWidth);
                            transform: translateY(0px);
                            & + li {
                                margin-top: get-vw(12px,$divceWidth);
                            }
                            .gauge {
                                .bar {
                                    padding: get-vw(7px,$divceWidth) 0px get-vw(9px,$divceWidth);
                                    text-indent: get-vw(12px,$divceWidth);
                                    border-radius: 0px get-vw(10px,$divceWidth) get-vw(10px,$divceWidth) 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}