@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;

section#portfolio {
    padding: 0px !important;
    background-color: skyblue;
    &::-webkit-scrollbar-track {
        background-color: skyblue;
    }
    .pf_year {
        position: fixed;
        z-index: 1;
        top: get-vw(230px,$divceWidth);
        left: get-vw(200px,$divceWidth);
        font-size: get-vw(40px,$divceWidth);
        font-weight: 500;
        line-height: 1;
        color: navy;
    }
    .pf_summary {
        position: fixed;
        z-index: 1;
        top: get-vw(100px,$divceWidth);
        left: get-vw(600px,$divceWidth);
        width: get-vw(680px,$divceWidth);
        ul {
            > li {
                position: relative;
                height: get-vw(64px,$divceWidth);
                padding-left: get-vw(30px,$divceWidth);
                cursor: pointer;
                & + li {
                    margin-top: get-vw(80px,$divceWidth);
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: get-vw(11px,$divceWidth);
                    left: 0px;
                    width: get-vw(10px,$divceWidth);
                    height: get-vw(10px,$divceWidth);
                    border-radius: 50%;
                    background-color: #6CA5EF;
                }
                &.on:after {
                    background-color: blue;
                }
                .trems {
                    font-size: get-vw(14px,$divceWidth);
                    font-weight: 700;
                    color: navy;
                    opacity: 0.5;
                    transition: 0.3s ease all;
                    transform-origin: left;
                }
                &.active .trems {
                    transform: scale(1.2);
                    opacity: 1;
                }
                .project_name {
                    margin-top: get-vw(4px,$divceWidth);
                    font-weight: 400;
                    line-height: 140%;
                    opacity: 0.75;
                    transition: 0.3s ease all;
                    transform-origin: left;
                }
                &.active .project_name {
                    font-weight: 500;
                    letter-spacing: -0.5px;
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-decoration-style: dotted;
                    text-underline-offset: get-vw(4px,$divceWidth);
                    transform: scale(1.2);
                    opacity: 1;
                }
                .project_info {
                    display: none;
                }
            }
        }
        .gauge {
            position: absolute;
            z-index: 1;
            top: get-vw(16px,$divceWidth);
            bottom: get-vw(47px,$divceWidth);
            left: get-vw(4px,$divceWidth);
            width: 1px;
            overflow: hidden;
            background-color: #6CA5EF;
            .bar {
                background-color: blue;
                transition: 0.15s ease height;
            }
        }
    }
    ul.pf_detail {
        position: fixed;
        top: get-vw(100px,$divceWidth);
        bottom: get-vw(100px,$divceWidth);
        right: get-vw(625px,$divceWidth);
        width: get-vw(600px,$divceWidth);
        > li {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            background-color: skyblue;
            opacity: 0;
            transition: 0.3s ease opacity;
            &.active {
                opacity: 1;
            }
            .screenshot {
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                    max-height: get-vw(480px,$divceWidth);
                    object-fit: cover;
                    object-position: 50% 0%;
                    border: 1px solid cadetblue;
                    background-color: deepskyblue;
                    box-sizing: border-box;
                }
            }
            .project_info {
                margin-top: get-vw(32px,$divceWidth);
                h3 {
                    font-size: get-vw(28px,$divceWidth);
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: -1px;
                    a {
                        color: darkblue;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-thickness: get-vw(2px,$divceWidth);
                            text-decoration-style: solid;
                            text-underline-offset: get-vw(6px,$divceWidth);
                        }
                    }
                }
                table {
                    margin-top: get-vw(10px,$divceWidth);
                    border-collapse: collapse;
                    tbody {
                        tr {
                            th,td {
                                padding: get-vw(18px,$divceWidth) 0px;
                                border-bottom: 1px solid rgba(0,0,128,0.25);
                            }
                            th {
                                width: get-vw(130px,$divceWidth);
                                font-weight: 400;
                                text-align: left;
                                color: navy;
                            }
                            td {
                                font-weight: 500;
                                &.participation {
                                    .gauge {
                                        .bar {
                                            padding: get-vw(10px,$divceWidth) get-vw(12px,$divceWidth) get-vw(12px,$divceWidth);
                                            box-sizing: border-box;
                                            line-height: 1;
                                            color: white;
                                            font-size: get-vw(18px,$divceWidth);
                                            background-color: orangered;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pf_dist_wrap {
        .pf_dist {
            position: relative;
            z-index: 2;
            height: 50vh;
        }
    }
}

/* Full HD */
@include FullHD {
    $divceWidth: $FullHDMax;

    section#portfolio {
        .pf_year {
            top: get-vw(200px,$divceWidth);
            left: get-vw(160px,$divceWidth);
            font-size: get-vw(40px,$divceWidth);
        }
        ul.pf_summary {
            top: get-vw(80px,$divceWidth);
            left: get-vw(540px,$divceWidth);
            width: get-vw(680px,$divceWidth);
            > li {
                height: get-vw(64px,$divceWidth);
                padding-left: get-vw(30px,$divceWidth);
                & + li {
                    margin-top: get-vw(80px,$divceWidth);
                }
                &:after {
                    display: block;
                    position: absolute;
                    top: get-vw(8px,$divceWidth);
                    left: 0px;
                    width: get-vw(9px,$divceWidth);
                    height: get-vw(9px,$divceWidth);
                }
                .trems {
                    font-size: get-vw(14px,$divceWidth);
                }
                .project_name {
                    margin-top: get-vw(4px,$divceWidth);
                }
            }
            &[class*="swiper-slide-thumb-active"] {
                .pf_summary_cont {
                    .project_name {
                        text-underline-offset: get-vw(4px,$divceWidth);
                        transform: scale(1.2);
                        opacity: 1;
                    }
                }
            }
            .gauge {
                top: get-vw(-80px,$divceWidth);
                left: get-vw(4px,$divceWidth);
            }
        }
        ul.pf_detail {
            top: get-vw(80px,$divceWidth);
            bottom: get-vw(80px,$divceWidth);
            right: get-vw(300px,$divceWidth);
            width: get-vw(500px,$divceWidth);
            > li {
                .screenshot {
                    width: auto;
                    img {
                        max-height: get-vw(480px,$divceWidth);
                    }
                }
                .project_info {
                    margin-top: get-vw(30px,$divceWidth);
                    h3 {
                        font-size: get-vw(25px,$divceWidth);
                        a {
                            &:hover {
                                text-decoration-thickness: get-vw(2px,$divceWidth);
                                text-underline-offset: get-vw(6px,$divceWidth);
                            }
                        }
                    }
                    table {
                        margin-top: get-vw(8px,$divceWidth);
                        tbody {
                            tr {
                                th,td {
                                    padding: get-vw(15px,$divceWidth) 0px;
                                }
                                th {
                                    width: get-vw(120px,$divceWidth);
                                }
                                td {
                                    &.participation {
                                        .gauge {
                                            .bar {
                                                padding: get-vw(10px,$divceWidth) get-vw(12px,$divceWidth) get-vw(12px,$divceWidth);
                                                font-size: get-vw(14px,$divceWidth);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

    section#portfolio {
        .pf_year {
            top: get-vw(200px,$divceWidth);
            left: get-vw(160px,$divceWidth);
            font-size: get-vw(40px,$divceWidth);
        }
        ul.pf_summary {
            display: none;
        }
        ul.pf_detail {
            width: auto;
            > li {
                display: grid;
                grid-template-columns: 40% auto;
                gap: 0px get-vw(40px,$divceWidth);
                .screenshot {
                    img {
                        max-height: 100%;
                    }
                }
                .project_info {
                    margin-top: 0px;
                    h3 {
                        font-size: get-vw(28px,$divceWidth);
                        a {
                            &:hover {
                                text-decoration-thickness: get-vw(2px,$divceWidth);
                                text-underline-offset: get-vw(6px,$divceWidth);
                            }
                        }
                    }
                    table {
                        margin-top: get-vw(10px,$divceWidth);
                        tbody {
                            tr {
                                th,td {
                                    padding: get-vw(15px,$divceWidth) 0px;
                                }
                                th {
                                    width: get-vw(120px,$divceWidth);
                                }
                                td {
                                    &.participation {
                                        .gauge {
                                            .bar {
                                                padding: get-vw(10px,$divceWidth) get-vw(12px,$divceWidth) get-vw(12px,$divceWidth);
                                                font-size: get-vw(14px,$divceWidth);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceHeight: $TabletMax;

        /* Portfolio */
        section#portfolio {
            padding: get-vh(60px,$divceHeight) get-vh(150px,$divceHeight) get-vh(80px,$divceHeight) get-vh(60px,$divceHeight);
            .pf_cont_inner {
                h2 {
                    padding: get-vh(80px,$divceHeight) get-vh(150px,$divceHeight) get-vh(40px,$divceHeight) get-vh(60px,$divceHeight);
                    background-color: rgba(255,255,255,0);
                    transition: 0.2s ease all;
                }
                .pf_year {
                    font-size: get-vh(34px,$divceHeight);
                    padding-top: get-vh(94px,$divceHeight);
                    right: get-vh(150px,$divceHeight);
                    transition: 0.2s ease all;
                }
                &.fixed {
                    h2 {
                        padding: get-vh(16px,$divceHeight) get-vh(150px,$divceHeight) get-vh(14px,$divceHeight) get-vh(60px,$divceHeight);
                        background-color: rgba(255,255,255,0.75);
                    }
                    .pf_year {
                        padding-top: get-vh(32px,$divceHeight);
                    }
                }
                .pf_detail {
                    > .pf_detail_cont {
                        padding: get-vh(120px,$divceHeight) 0px 0px 0px;
                        min-height: auto;
                        .screenshot {
                            position: static;
                            width: 100%;
                            max-height: none;
                            img {
                                max-height: calc(100vw - get-vh(260px,$divceHeight))
                            }
                        }
                        .project_info {
                            margin-top: get-vh(20px,$divceHeight);
                            h3 {
                                font-size: get-vh(26px,$divceHeight);
                                a {
                                    &:hover {
                                        text-decoration-thickness: get-vh(2px,$divceHeight);
                                        text-underline-offset: get-vh(12px,$divceHeight);
                                    }
                                }
                            }
                            table {
                                margin-top: get-vh(12px,$divceHeight);
                                tbody {
                                    tr {
                                        th,td {
                                            padding: get-vh(15px,$divceHeight) 0px;
                                        }
                                        th {
                                            width: get-vh(120px,$divceHeight)
                                        }
                                        td {
                                            &.participation {
                                                .gauge {
                                                    .bar {
                                                        padding: get-vh(11px,$divceHeight) get-vh(12px,$divceHeight) get-vh(12px,$divceHeight);
                                                        font-size: get-vh(15px,$divceHeight);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@include Mobile {
    $divceWidth: $MobileMax;

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceHeight: $MobileMax;
        
        /* Portfolio */
        section#portfolio {
            padding: get-vh(40px,$divceHeight) get-vh(80px,$divceHeight) get-vh(60px,$divceHeight) get-vh(40px,$divceHeight);
            .pf_cont_inner {
                h2 {
                    padding: get-vh(60px,$divceHeight) get-vh(80px,$divceHeight) get-vh(40px,$divceHeight) get-vh(40px,$divceHeight);
                    background-color: rgba(255,255,255,0);
                    transition: 0.2s ease all;
                }
                .pf_year {
                    font-size: get-vh(34px,$divceHeight);
                    padding-top: get-vh(70px,$divceHeight);
                    right: get-vh(80px,$divceHeight);
                    transition: 0.2s ease all;
                }
                &.fixed {
                    h2 {
                        padding: get-vh(16px,$divceHeight) get-vh(80px,$divceHeight) get-vh(14px,$divceHeight) get-vh(40px,$divceHeight);
                        background-color: rgba(255,255,255,0.75);
                    }
                    .pf_year {
                        padding-top: get-vh(28px,$divceHeight);
                    }
                }
                ul.detail {
                    > li {
                        padding: get-vh(120px,$divceHeight) 0px 0px 0px;
                        .screenshot {
                            position: static;
                            width: 100%;
                            max-height: none;
                            img {
                                max-height: calc(100vw - get-vh(120px,$divceHeight))
                            }
                        }
                        .project_info {
                            margin-top: get-vh(20px,$divceHeight);
                            h3 {
                                font-size: get-vh(26px,$divceHeight);
                                a {
                                    &:hover {
                                        text-decoration-thickness: get-vh(2px,$divceHeight);
                                        text-underline-offset: get-vh(12px,$divceHeight);
                                    }
                                }
                            }
                            table {
                                margin-top: get-vh(12px,$divceHeight);
                                tbody {
                                    tr {
                                        th,td {
                                            padding: get-vh(15px,$divceHeight) 0px;
                                        }
                                        th {
                                            width: get-vh(110px,$divceHeight)
                                        }
                                        td {
                                            &.participation {
                                                .gauge {
                                                    .bar {
                                                        padding: get-vh(11px,$divceHeight) get-vh(12px,$divceHeight) get-vh(12px,$divceHeight);
                                                        font-size: get-vh(15px,$divceHeight);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}