$vh: var(--vh);
@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;

section#portfolio {
    background-color: skyblue;
    --pfs-move-top: 5.6vw;
    &::-webkit-scrollbar-track {
        background-color: skyblue;
    }
    .pf_year {
        position: fixed;
        z-index: 1;
        top: get-vw(230px,$divceWidth);
        left: get-vw(200px,$divceWidth);
        font-size: get-vw(40px,$divceWidth);
        font-weight: 500;
        line-height: 1;
        color: navy;
    }
    .pf_summary {
        position: fixed;
        z-index: 1;
        top: get-vw(100px,$divceWidth);
        left: get-vw(600px,$divceWidth);
        width: get-vw(680px,$divceWidth);
        transition: 0.3s ease transform;
        > ul {
            > li {
                position: relative;
                height: 2.5vw;
                padding-left: get-vw(30px,$divceWidth);
                cursor: pointer;
                & + li {
                    margin-top: 3.1vw;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: get-vw(11px,$divceWidth);
                    left: 0px;
                    width: get-vw(11px,$divceWidth);
                    height: get-vw(11px,$divceWidth);
                    border-radius: 50%;
                    background-color: #6CA5EF;
                    transition: 0.15s ease background-color;
                }
                &.on:after {
                    background-color: blue;
                    transition-delay: 0.25s;
                }
                .trems {
                    font-size: get-vw(14px,$divceWidth);
                    font-weight: 700;
                    color: navy;
                    opacity: 0.5;
                    transition: 0.3s ease all;
                    transform-origin: left;
                }
                &.active .trems {
                    transform: scale(1.2);
                    opacity: 1;
                }
                .project_name {
                    margin-top: get-vw(4px,$divceWidth);
                    font-weight: 400;
                    line-height: 140%;
                    opacity: 0.75;
                    transition: 0.3s ease all;
                    transform-origin: left;
                }
                &.active .project_name {
                    font-weight: 500;
                    letter-spacing: -0.5px;
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-decoration-style: dotted;
                    text-underline-offset: get-vw(4px,$divceWidth);
                    transform: scale(1.2);
                    opacity: 1;
                }
                .project_info {
                    display: none;
                }
            }
        }
        .gauge {
            position: absolute;
            z-index: 1;
            top: get-vw(16px,$divceWidth);
            bottom: get-vw(47px,$divceWidth);
            left: get-vw(5px,$divceWidth);
            width: get-vw(1px,$divceWidth);
            overflow: hidden;
            background-color: #6CA5EF;
            .bar {
                background-color: blue;
                transition: 0.3s ease height;
            }
        }
    }
    ul.pf_detail {
        position: fixed;
        z-index: 3;
        top: get-vw(100px,$divceWidth);
        bottom: get-vw(100px,$divceWidth);
        right: get-vw(625px,$divceWidth);
        width: get-vw(600px,$divceWidth);
        > li {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            height: 100%;
            background-color: skyblue;
            opacity: 0;
            transition: 0.3s ease opacity;
            &.active {
                z-index: 2;
                opacity: 1;
            }
            .screenshot {
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                    max-height: get-vw(480px,$divceWidth);
                    object-fit: cover;
                    object-position: 50% 0%;
                    border: 1px solid cadetblue;
                    background-color: deepskyblue;
                    box-sizing: border-box;
                }
            }
            .project_info {
                margin-top: get-vw(32px,$divceWidth);
                h3 {
                    font-size: get-vw(30px,$divceWidth);
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: -1px;
                    a {
                        color: darkblue;
                        &:hover {
                            text-decoration: underline;
                            text-decoration-thickness: get-vw(2px,$divceWidth);
                            text-decoration-style: solid;
                            text-underline-offset: get-vw(6px,$divceWidth);
                        }
                    }
                }
                table {
                    margin-top: get-vw(10px,$divceWidth);
                    border-collapse: collapse;
                    tbody {
                        tr {
                            th,td {
                                padding: get-vw(16px,$divceWidth) 0px;
                                border-bottom: 1px solid rgba(0,0,128,0.25);
                            }
                            th {
                                width: get-vw(130px,$divceWidth);
                                font-weight: 400;
                                text-align: left;
                                color: navy;
                            }
                            td {
                                font-weight: 500;
                                &.participation {
                                    .gauge {
                                        .bar {
                                            padding: get-vw(10px,$divceWidth) get-vw(12px,$divceWidth) get-vw(12px,$divceWidth);
                                            box-sizing: border-box;
                                            line-height: 1;
                                            color: white;
                                            font-size: get-vw(18px,$divceWidth);
                                            background-color: orangered;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pf_dist_wrap {
        margin: get-vw(-220px,$divceWidth) get-vw(-188px,$divceWidth) get-vw(-100px,$divceWidth) get-vw(-200px,$divceWidth);
        .pf_dist {
            position: relative;
            z-index: 2;
            height: calc(33.33 * $vh);
        }
    }
}

/* Full HD */
@include FullHD {
    $divceWidth: $FullHDMax;

    section#portfolio {
        --pfs-move-top: 7.5vw;
        .pf_year {
            top: get-vw(200px,$divceWidth);
            left: get-vw(160px,$divceWidth);
            font-size: get-vw(40px,$divceWidth);
        }
        .pf_summary {
            top: get-vw(80px,$divceWidth);
            left: get-vw(540px,$divceWidth);
            width: get-vw(680px,$divceWidth);
            > ul {
                > li {
                    height: 3.33vw;
                    padding-left: get-vw(30px,$divceWidth);
                    & + li {
                        margin-top: 4.17vw;
                    }
                    &:after {
                        display: block;
                        position: absolute;
                        top: get-vw(8px,$divceWidth);
                        left: 0px;
                        width: get-vw(9px,$divceWidth);
                        height: get-vw(9px,$divceWidth);
                    }
                    .trems {
                        font-size: get-vw(14px,$divceWidth);
                    }
                    .project_name {
                        margin-top: get-vw(4px,$divceWidth);
                    }
                }
                &[class*="swiper-slide-thumb-active"] {
                    .pf_summary_cont {
                        .project_name {
                            text-underline-offset: get-vw(4px,$divceWidth);
                            transform: scale(1.2);
                            opacity: 1;
                        }
                    }
                }
            }
            .gauge {
                top: get-vw(16px,$divceWidth);
                bottom: get-vw(47px,$divceWidth);
                left: get-vw(4px,$divceWidth);
                width: get-vw(1px,$divceWidth);
            }
        }
        ul.pf_detail {
            top: get-vw(80px,$divceWidth);
            bottom: get-vw(80px,$divceWidth);
            right: get-vw(300px,$divceWidth);
            width: get-vw(480px,$divceWidth);
            > li {
                .screenshot {
                    img {
                        max-height: get-vw(480px,$divceWidth);
                    }
                }
                .project_info {
                    margin-top: get-vw(30px,$divceWidth);
                    h3 {
                        font-size: get-vw(25px,$divceWidth);
                        a {
                            &:hover {
                                text-decoration-thickness: get-vw(2px,$divceWidth);
                                text-underline-offset: get-vw(6px,$divceWidth);
                            }
                        }
                    }
                    table {
                        margin-top: get-vw(8px,$divceWidth);
                        tbody {
                            tr {
                                th,td {
                                    padding: get-vw(14px,$divceWidth) 0px;
                                }
                                th {
                                    width: get-vw(110px,$divceWidth);
                                }
                                td {
                                    &.participation {
                                        .gauge {
                                            .bar {
                                                padding: get-vw(10px,$divceWidth) get-vw(12px,$divceWidth) get-vw(12px,$divceWidth);
                                                font-size: get-vw(14px,$divceWidth);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pf_dist_wrap {
            margin: get-vw(-200px,$divceWidth) get-vw(-148px,$divceWidth) get-vw(-80px,$divceWidth) get-vw(-160px,$divceWidth);
        }
    }
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

    /* Portfolio */
    section#portfolio {
        h2 {
            background-image: linear-gradient(180deg, rgba(135,206,235,1) 0%, rgba(135,206,235,1) 60%, rgba(135,206,235,0.9) 90%, rgba(135,206,235,0) 100%);
        }
        .pf_year {
            display: none;
        }
        .pf_summary,
        .pf_dist_wrap {
            display: none;
        }
        ul.pf_detail {
            position: static;
            width: auto;
            > li {
                position: relative;
                height: auto;
                padding-left: get-vw(504px,$divceWidth);
                opacity: 1;
                & + li {
                    margin-top: get-vw(100px,$divceWidth);
                }
                .screenshot {
                    position: absolute;
                    top: get-vw(8px,$divceWidth);
                    bottom: 0px;
                    left: 0px;
                    width: get-vw(464px,$divceWidth);
                    img {
                        max-height: 100%;
                    }
                }
                .project_info {
                    margin-top: 0px;
                    h3 {
                        font-size: get-vw(30px,$divceWidth);
                        a {
                            &:hover {
                                text-decoration-thickness: get-vw(2px,$divceWidth);
                                text-underline-offset: get-vw(6px,$divceWidth);
                            }
                        }
                    }
                    table {
                        margin-top: get-vw(10px,$divceWidth);
                        tbody {
                            tr {
                                th,td {
                                    padding: get-vw(14px,$divceWidth) 0px get-vw(15px,$divceWidth);
                                }
                                th {
                                    width: get-vw(120px,$divceWidth);
                                }
                                td {
                                    &.participation {
                                        .gauge {
                                            .bar {
                                                padding: get-vw(8px,$divceWidth) get-vw(12px,$divceWidth) get-vw(10px,$divceWidth);
                                                font-size: get-vw(16px,$divceWidth);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceWidth: $TabletMin;

        /* Portfolio */
        section#portfolio {
            ul.pf_detail {
                > li {
                    padding-left: get-vw(344px,$divceWidth);
                    & + li {
                        margin-top: get-vw(100px,$divceWidth);
                    }
                    .screenshot {
                        top: get-vw(65px,$divceWidth);
                        width: get-vw(304px,$divceWidth);
                    }
                    .project_info {
                        h3 {
                            margin-left: get-vw(-344px,$divceWidth);
                            font-size: get-vw(28px,$divceWidth);
                            a {
                                &:hover {
                                    text-decoration-thickness: get-vw(2px,$divceWidth);
                                    text-underline-offset: get-vw(6px,$divceWidth);
                                }
                            }
                        }
                        table {
                            margin-top: get-vw(10px,$divceWidth);
                            tbody {
                                tr {
                                    th,td {
                                        padding: get-vw(12px,$divceWidth) 0px get-vw(13px,$divceWidth);
                                    }
                                    th {
                                        width: get-vw(100px,$divceWidth);
                                    }
                                    td {
                                        &.participation {
                                            .gauge {
                                                .bar {
                                                    padding: get-vw(8px,$divceWidth) get-vw(10px,$divceWidth) get-vw(10px,$divceWidth);
                                                    font-size: get-vw(16px,$divceWidth);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Mobile */
@include Mobile {
    $divceWidth: $MobileMax;

    /* Portfolio */
    section#portfolio {
        ul.pf_detail {
            > li {
                padding-left: get-vw(324px,$divceWidth);
                & + li {
                    margin-top: get-vw(80px,$divceWidth);
                }
                .screenshot {
                    top: get-vw(65px,$divceWidth);
                    width: get-vw(284px,$divceWidth);
                }
                .project_info {
                    h3 {
                        font-size: get-vw(28px,$divceWidth);
                        margin-left: get-vw(-324px,$divceWidth);
                        a {
                            &:hover {
                                text-decoration-thickness: get-vw(2px,$divceWidth);
                                text-underline-offset: get-vw(6px,$divceWidth);
                            }
                        }
                    }
                    table {
                        margin-top: get-vw(10px,$divceWidth);
                        tbody {
                            tr {
                                th,td {
                                    padding: get-vw(12px,$divceWidth) 0px get-vw(14px,$divceWidth);
                                }
                                th {
                                    width: get-vw(100px,$divceWidth);
                                }
                                td {
                                    &.participation {
                                        .gauge {
                                            .bar {
                                                padding: get-vw(8px,$divceWidth) get-vw(12px,$divceWidth) get-vw(9px,$divceWidth);
                                                font-size: get-vw(16px,$divceWidth);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceWidth: $MobileMin;
        
        /* Portfolio */
        section#portfolio {
            ul.pf_detail {
                > li {
                    padding-left: 0px;
                    & + li {
                        margin-top: get-vw(80px,$divceWidth);
                    }
                    .screenshot {
                        position: static;
                        width: 100%;
                    }
                    .project_info {
                        h3 {
                            font-size: get-vw(25px,$divceWidth);
                            margin: get-vw(18px,$divceWidth) 0px 0px 0px;
                            a {
                                &:hover {
                                    text-decoration-thickness: get-vw(2px,$divceWidth);
                                    text-underline-offset: get-vw(6px,$divceWidth);
                                }
                            }
                        }
                        table {
                            margin-top: get-vw(2px,$divceWidth);
                            tbody {
                                tr {
                                    th,td {
                                        padding: get-vw(12px,$divceWidth) 0px get-vw(14px,$divceWidth);
                                    }
                                    th {
                                        width: get-vw(90px,$divceWidth);
                                    }
                                    td {
                                        &.participation {
                                            .gauge {
                                                .bar {
                                                    padding: get-vw(7px,$divceWidth) get-vw(11px,$divceWidth) get-vw(8px,$divceWidth);
                                                    font-size: get-vw(14px,$divceWidth);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}