@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;

/* Story */
section#story {
    height: auto !important;
    overflow: auto !important;
    scrollbar-gutter: unset;
    box-sizing: border-box;
    background-color: purple;
    h2 {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        color: white;
    }
    .story_cont {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: get-vw(100px,$divceWidth) get-vw(200px,$divceWidth) get-vw(100px,$divceWidth) get-vw(100px,$divceWidth);
        background-repeat: no-repeat;
        background-size: cover;
        &:after {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: transparent linear-gradient(60deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            background-size: cover;
        }
        &.sc1 {
            background-image: url(/images/photo_story1.jpg);
            background-position: center center;
        }
        &.sc2 {
            background-image: url(/images/photo_story2.jpg),;
            background-position: center center;
        }
        &.sc3 {
            background-image: url(/images/photo_story3.jpg);
            background-position: 20% center;
        }
        &.sc4 {
            background-image: url(/images/photo_story4.jpg);
            background-position: center center;
        }
        &.sc5 {
            background-image: url(/images/photo_story5.jpg);
            background-position: center center;
        }
        &.sc6 {
            background-image: url(/images/photo_story6.jpg);
            background-position: right center;
        }
        .sc_inner {
            position: relative;
            z-index: 2;
            font-size: get-vw(40px,$divceWidth);
            line-height: 170%;
            color: white;
        }
    }
}

/* Full HD */
@include FullHD {
    $divceWidth: $FullHDMax;

    section#story {
        .story_cont {
            .sc_inner {
                font-size: get-vw(34px,$divceWidth);
            }
        }
    }
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

    section#story {
        .story_cont {
            padding: get-vw(80px,$divceWidth) get-vw(180px,$divceWidth) get-vw(80px,$divceWidth) get-vw(80px,$divceWidth);
            .sc_inner {
                font-size: get-vw(36px,$divceWidth);
            }
        }
    }

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceHeight: $TabletMax;

    }
}

/* Mobile */
@include Mobile {
    $divceWidth: $MobileMax;

    /* Story */
    section#story {
        .story_cont {
            padding: get-vw(60px,$divceWidth) get-vw(80px,$divceWidth) get-vw(60px,$divceWidth) get-vw(40px,$divceWidth);
            .sc_inner {
                font-size: get-vw(26px,$divceWidth);
                p {
                    // transform: translateY(get-vw(20px,$divceWidth));
                    letter-spacing: -1px;
                }
            }
        }
    }

    /* 세로 모드 */
    @media screen and (orientation: portrait) {
        $divceHeight: $MobileMax;
        
        /* Story */
        section#story {
            .story_cont {
                padding: get-vh(60px,$divceHeight) get-vh(80px,$divceHeight) get-vh(60px,$divceHeight) get-vh(40px,$divceHeight);
                .sc_inner {
                    font-size: get-vh(26px,$divceHeight);
                    p {
                        // transform: translateY(get-vh(20px,$divceHeight));
                    }
                }
            }
        }
    }
}