@import "/app/mixin";
@import "/app/variables";
@import "/app/vwvh";

$divceWidth: $QuadHDMax;
$divceHeight: $QuadHDMin;

html {
    height: 100vh;
    height: 100dvh;
}
:root {
    /* Color Set */
    --focus-txt-color: black;
    --basic-txt-color: #222222;
    --label-txt-color: #444444;
    --support-txt-color: #666666;
    --point-color: orangered;
    --point-alpha-color: rgba(255, 69, 0, 0.1);
    --focus-bg-color: white;
    --basic-bg-color: #E9E9E9;
    --label-bg-color: #D9D9D9;
    --empty-bg-color: #A9A9A9;
    --support-bg-color: #898989;
    --modal-bg-color: rgba(34,34,34,0.7);
    --line-color: #C9C9C9;
    --pass-color: green;
    --progressing-color: deepskyblue;

    /* Font Size */
    --tit-f-size: 40px;
    --stit-f-size: 26px;
    --base-f-size: 16px;
    --desc-f-size: 15px;
    --name-f-size: 14px;
    --datetime-f-size: 12px;
}
body {
    height: 100vh;
    height: 100dvh;
    margin: 0px;
    font-family: var(--libre-franklin), var(--noto-sans-kr), sans-serif;
    font-size: var(--base-f-size);
    -webkit-text-size-adjust: none;
    text-size-adjust : none;
    font-weight: 400;
    word-break: keep-all;
    line-height: 150%;
    color: var(--basic-txt-color);
    background-color: var(--basic-bg-color);
}
a {
    color: var(--basic-txt-color);
    text-decoration: none;
}
a:hover {
    color: var(--point-color);
}
button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: var(--libre-franklin), var(--noto-sans-kr), sans-serif;
    font-size: var(--base-f-size);
    -webkit-text-size-adjust: none;
    text-size-adjust : none;
    font-weight: 400;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    outline: 0px;
}
button:disabled {
    cursor: default;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    border-width: 0px;
    vertical-align: middle;
    background-color: var(--empty-bg-color);
}
h1,h2,h3,h4,h5 {
    color: var(--basic-txt-color);
    font-weight: 600;
    margin: 0px;
}
h2 {
    font-size: var(--tit-f-size);
    line-height: 1;
}
h3 {
    font-size: var(--stit-f-size);
    line-height: 1;
}
p {
    margin: 0px;
}
ul,ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
li {
    padding: 0px;
}
dl,dt,dd {
    margin: 0px;
}
hr {
    display: none;
}
figure {
    margin: 0px;
}
fieldset {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}
legend {
    height: 0px;
    visibility: hidden;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    font-family: var(--libre-franklin), var(--noto-sans-kr), sans-serif;
    font-size: var(--base-f-size);
    -webkit-text-size-adjust: none;
    text-size-adjust : none;
    font-weight: 400;
    color: var(--basic-txt-color);
    border-radius: 0px;
    border-width: 0px;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    outline: 0px;
}
textarea {
    resize: none;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --focus-txt-color: white;
        --basic-txt-color: #EEEEEE;
        --label-txt-color: #DDDDDD;
        --support-txt-color: #BBBBBB;
        --point-color: darkorange;
        --point-alpha-color: rgba(255, 69, 0, 0.1);
        --focus-bg-color: #292929;
        --basic-bg-color: #191919;
        --label-bg-color: #393939;
        --empty-bg-color: #595959;
        --modal-bg-color: rgba(0,0,0,0.7);
        --line-color: #494949;
        --progressing-color: lawngreen;
    }
}

@include FullHD {
    :root {
        --tit-f-size: 36px;
        --stit-f-size: 24px;
        --base-f-size: 16px;
        --desc-f-size: 15px;
        --name-f-size: 14px;
        --datetime-f-size: 12px;
    }
}

@include Tablet {
    :root {
        --tit-f-size: 34px;
        --stit-f-size: 22px;
        --base-f-size: 15px;
        --desc-f-size: 15px;
        --name-f-size: 13px;
        --datetime-f-size: 12px;
    }
}

@include Mobile {
    :root {
        --tit-f-size: 30px;
        --stit-f-size: 20px;
        --base-f-size: 14px;
        --desc-f-size: 13px;
        --name-f-size: 12px;
        --datetime-f-size: 11px;
    }
}