$vh: var(--vh);
@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;


/* Full HD */
@include FullHD {
    $divceWidth: $FullHDMax;
    
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

}


/* Mobile */
@include Mobile {
    $divceWidth: $MobileMax;

}