@import "/app/variables";
@import "/app/vwvh";

$divceWidth: $QuadHDMax;

/* Footer */
footer#footer {
    padding: get-vw(40px,$divceWidth) get-vw(50px,$divceWidth) get-vw(38px,$divceWidth);
    background-color: #333333;
    p.copyright {
        color: white;
        font-family: 'Alkatra';
        a {
            color: orange;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* 테블릿 해상도 이하 */
@media screen and (max-width:$TabletMax) {
    $divceWidth: $TabletMax;

    /* Footer */
    footer#footer {
        padding: get-vw(40px,$divceWidth) get-vw(40px,$divceWidth) get-vw(38px,$divceWidth);
    }
}


/* 미디어 쿼리 - 세로모드 */
@media screen and (orientation: portrait) {

    /* 테블릿 해상도 이하 */
    @media screen and (max-width:$TabletMin) {
        $divceWidth: $TabletMin;

        /* Footer */
        footer#footer {
            padding: get-vw(38px,$divceWidth) get-vw(40px,$divceWidth) get-vw(36px,$divceWidth);
        }
    }

    /* 모바일 해상도 이하 */
	@media screen and (max-width:$MobileMin) {
		$divceWidth: $MobileMin;

        /* Footer */
        footer#footer {
            padding: get-vw(34px,$divceWidth) get-vw(30px,$divceWidth) get-vw(32px,$divceWidth);
        }
	}
}