@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;

/* Contents 공통 */
.content_wrap {
    section {
        position: relative;
        box-sizing: border-box;
    }
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

    /* 세로모드 */
    @media screen and (orientation: portrait) {
        $divceHeight: $TabletMax;

    }
}


/* Mobile */
@include Mobile {
    $divceHeight: $MobileMax;

}