@import "/app/variables";
@import "/app/vwvh";
@import "/app/mixin";

$divceWidth: $QuadHDMax;

/* GNB */
nav#gnb {
    position: fixed;
    z-index: 11;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    button {
        display: block;
        width: 100%;
        padding: get-vw(12px,$divceWidth) get-vw(24px,$divceWidth) get-vw(11px,$divceWidth) get-vw(24px,$divceWidth);
        box-sizing: border-box;
        border-radius: get-vw(30px,$divceWidth) 0px 0px get-vw(30px,$divceWidth);
        color: white;
        text-align: left;
        line-height: 1;
        font-family: 'Alkatra';
        background-color: black;
        transform: translateX(get-vw(12px,$divceWidth));
        transition: 0.3s ease all;
        & + button {
            margin-top: get-vw(16px,$divceWidth);
        }
        &[part="bullet-active"] {
            background-color: white;
            transform: translateX(0px);
        }
        &#about:hover,
        &#about[part="bullet-active"] {
            color: orange;
        }
        &#story:hover,
        &#story[part="bullet-active"] {
            color: purple;
        }
        &#portfolio:hover,
        &#portfolio[part="bullet-active"] {
            color: skyblue;
        }
        &#contact_us:hover,
        &#contact_us[part="bullet-active"] {
            color: gainsboro;
        }
    }
}

/* Contents 공통 */
.content_wrap {
    section {
        position: relative;
        box-sizing: border-box;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-gutter: stable;
        &::-webkit-scrollbar {
            width: 12px; 
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,0.3);
            border-radius: 20px;
            background-clip: padding-box;
            border: 3px solid transparent;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0,0,0,0.5);
        }
    }
}

/* Tablet */
@include Tablet {
    $divceWidth: $TabletMax;

    /* GNB */
    nav#gnb {
        button {
            padding: get-vw(15px,$divceWidth) get-vw(24px,$divceWidth) get-vw(11px,$divceWidth) get-vw(24px,$divceWidth);
            border-radius: get-vw(30px,$divceWidth) 0px 0px get-vw(30px,$divceWidth);
            transform: translateX(get-vw(16px,$divceWidth));
            & + button {
                margin-top: get-vw(16px,$divceWidth);
            }
        }
    }

    /* 세로모드 */
    @media screen and (orientation: portrait) {
        $divceHeight: $TabletMax;

        /* GNB */
        nav#gnb {
            button {
                padding: get-vh(11px,$divceHeight) get-vh(24px,$divceHeight) get-vh(9px,$divceHeight) get-vh(18px,$divceHeight);
                border-radius: get-vh(30px,$divceHeight) 0px 0px get-vh(30px,$divceHeight);
                transform: translateX(get-vh(14px,$divceHeight));
                & + button {
                    margin-top: get-vh(12px,$divceHeight);
                }
            }
        }
    }
}


/* Mobile */
@include Mobile {
    /* 세로모드 */
    @media screen and (orientation: portrait) {
        $divceHeight: $MobileMax;

        /* GNB */
        nav#gnb {
            button {
                padding: get-vh(18px,$divceHeight) get-vh(12px,$divceHeight) get-vh(20px,$divceHeight) get-vh(10px,$divceHeight);
                border-radius: get-vh(20px,$divceHeight) 0px 0px get-vh(20px,$divceHeight);
                transform: translateX(get-vh(6px,$divceHeight));
                writing-mode: vertical-rl;
                text-orientation: mixed;
                & + button {
                    margin-top: get-vh(12px,$divceHeight);
                }
            }
        }
    }
}